* {
	background-color: #081c24;
	color: white;
	font-family: 'Mukta Malar', sans-serif;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

header {
	text-align: center;
}

a.header {
	text-decoration: none;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 100px;
}

/* Results Styling*/

.js-search-results: {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.result-container {
	height: auto;
	width: 75%;
	margin: 0 auto;
	padding-left: 20px;
}

#poster {
	height: 100%;
	width: 27.3%;
	float: left;
}


/* Movie Title */
h2 {
	font-size: 32px;
	font-family: 'Pragati Narrow', sans-serif;
}

/* Tagline */
i {
	color: #01d277;
}


/* Movie Info Categories */
.category {
	color: #01d277;
	font-size: 20px;
	background: transparent;
	font-family: 'Pragati Narrow', sans-serif;
}

/* Eliminates background from p elements written to DOM*/
.transparent {
	background: transparent;
}


p {
	font-size: 18px;
}



/* Search Bar Styling */
fieldset {
	border: none;
}

.search-label {
	text-align: left;
}

.js-search-form {
	margin: 0 auto;
	text-align: center;
	background-color: yellow;
}

input[placeholder] {
	padding: 8px 12px;
}


.typeahead {
	font-size: 20px;
	background-color: white;
	color: black;
}


.js-search-button {
	font-size: 18px;
	background-color: transparent;
	color: #01d277;
	border-color: #01d277;
	height: 40px;
	border-radius: 5px;
	vertical-align: bottom;
	margin-left: 10px;
	position: absolute;
}

.js-search-button:hover {
    color: #081c24;
    background-color: #01d277;
}

.js-search-button:active {
	color: #01d277;
	background-color: #081c24;
}

/* Typeahead Styling */
.tt-input, 
.tt-hint {
    width: 400px;
    height: 40px;
    padding: 8px 12px;
    font-size: 24px;
    border: 2px solid #ccc;
    outline: none;
    vertical-align: bottom;
}



.tt-hint {
    color: #999;
}


.tt-menu { 
    width: 400px;
    margin-top: 12px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
	color: #081c24;
    background-color: #01d277;
}

.tt-suggestion.tt-cursor { 
    color: #081c24;
    background-color: #01d277;
}

.tt-suggestion p {
    margin: 0;
}
